---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

Publications
======
<sup>*</sup> means corresponding author
### Wireless Human Sensing
- [Noncontact Multi-Point Vital Sign Monitoring With mmWave MIMO Radar](https://arxiv.org/abs/2411.09201)  <br /> **Wei Ren**, Jiannong Cao, Huansheng Yi, Kaiyue Hou, Miaoyang Hu, Jianqi Wang, Fugui Qi <br /> ***IEEE Transactions on Microwave Theory and Techniques (TMTT)***, 2024. (Accepted)
- [Tracking-Aided Respiration Detection Using Radar During Large-Scale Body Movements](https://ieeexplore.ieee.org/abstract/document/10159563) <br /> **Wei Ren**, Huizi Han, Shaoqiang Chang, Quanhua Liu <br /> ***IEEE Sensors Journal***, 2023.
- [Vital Sign Detection in Any Orientation Using a Distributed Radar Network via Modified Independent Component Analysis](https://ieeexplore.ieee.org/abstract/document/9527072) <br /> **Wei Ren** Fugui Qi, Farnaz Foroughian, Tsotne Kvelashvili, Quanhua Liu, Ozlem Kilic, Teng Long, and Aly E. Fathy <br /> ***IEEE Transactions on Microwave Theory and Techniques (TMTT)***, 2021.
- [Contactless Vital-Sign Monitoring of Construction Machinery Operators Using Millimeter-Wave Technology](https://ascelibrary.org/doi/abs/10.1061/JCEMD4.COENG-14834) <br />   Jia Wang, Heng Li, Shuai Han, Guangbin Wang, and **Wei Ren** <br /> ***Journal of Construction Engineering and Management***, 2025
- [MmDrive: Fine-grained Fatigue Driving Detection Using mmWave Radar](https://dl.acm.org/doi/10.1145/3614437) <br /> Zhu Juncen, Jiannong Cao, Yanni Yang, **Wei Ren**, Huizi Han <br /> ***ACM Transactions on Internet of Things***, 2023
- [Four-Dimensional (4D) Millimeter Wave-Based Sensing and Its Potential Applications in Digital Construction: A Review](https://www.mdpi.com/2075-5309/13/6/1454) <br /> Shuai Han, Jiawen Zhang, Zeeshan Shahid Shaikh, Jia Wang, **Wei Ren** <br /> ***Buildings***, 2023
- [FMCW 毫米波雷达多人呼吸检测方法](https://signal.ejournal.org.cn/article/doi/10.16798/j.issn.1003-0530.2021.09.002) <br /> **任伟**, 侯凯悦, 王刚, 刘泉华 <br /> **信号处理**， 2021

### Radar Waveform Design ###
- [Design of Polyphase Sequence Sets with Good Correlation Properties under Spectral Distortion via Majorization-Minimization Framework](https://www.sciencedirect.com/science/article/abs/pii/S1051200423003792) <br /> Changjie Wang, Hao Zhang, **Wei Ren<sup>*</sup>**, Quanhua Liu <br />  ***Digital Signal Processing (DSP)***, 2024
- [Design of Polyphase Sequences With Low Integrated Sidelobe Level for Radars With Spectral Distortion via Majorization-Minimization Framework](https://ieeexplore.ieee.org/abstract/document/9469031) <br /> Quanhua Liu, **Wei Ren<sup>*</sup>**, Kaiyue Hou, Teng Long, and Aly E. Fathy <br />  ***IEEE Transactions on Aerospace and Electronic Systems (TAES)***, 2021
- [Greedy Code Search Based Memetic Algorithm for the Design of Orthogonal Polyphase Code Sets](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8620237) <br /> **Wei Ren**, Honggang Zhang, Quanhua Liu, and Yi Yang <br /> ***IEEE Access***, 2019.
- [Phase-coded Waveform Design in the Presence of Chopping and Interleaving Jamming](https://ieeexplore.ieee.org/document/9824083) <br /> Lu Zhang, **Wei Ren**, Dezhi Tian, Shaoqiang Chang, Quanhua Liu <br /> ***2022 IEEE 5th International Conference on Electronics Technology (ICET)***, 2022
- [Design of Orthogonal Discrete Frequency Coding Waveforms via Improved Genetic Algorithm](https://ieeexplore.ieee.org/document/9545572) <br /> Kaiyue Hou, **Wei Ren**, Shaoqiang Chang, Quanhua Li <br /> ***IET International Radar Conference (IET IRC)***, 2021
- [Design of Phase-Coded Waveforms Resilient to Pulse Eclipsing via Majorization-Minimization](https://ieeexplore.ieee.org/abstract/document/10028383) <br /> Kaiyue Hou, **Wei Ren**, Zhennan Liang, Quanhua Liu <br /> ***2021 CIE International Conference on Radar (Radar)***, 2021
- [Majorization Minimization Based Memetic Algorithm for Designing Polyphase Sequences with Good Correlation Properties](https://ieeexplore.ieee.org/abstract/document/9173364) <br /> Kaiyue Hou, **Wei Ren**, Quanhua Liu <br /> ***2019 IEEE International Conference on Signal, Information and Data Processing (ICSIDP)***, 2019
- [Graph Traversal Applied to Search for Optimal Minimum Peak Sidelobe Level Binary Sequences](https://ieeexplore.ieee.org/document/9173089) <br /> Yi Yang, **Wei Ren**, Yuanyuan Song, Hao Li <br /> ***2019 IEEE International Conference on Signal, Information and Data Processing (ICSIDP)***, 2019

- 

### Interference and clutter suppression ###
- [Improving Range Ambiguity Suppression in Pulse-Doppler Radar Systems with Nonlinear Processing and Joint Reversible Mismatch Filtering](https://ieeexplore.ieee.org/abstract/document/10266747) <br /> Yuanshuai Li, **Wei Ren<sup>*</sup>**, Fawei Yang, Kaixiang Zhang, Quanhua Liu, Aly E. Fathy <br /> ***IEEE Transactions on Radar Systems***, 2023
- [Range Ambiguity Suppression under High-Resolution Estimation Using the MUSIC-AP Algorithm for Pulse-Doppler Radar](https://www.sciencedirect.com/science/article/abs/pii/S0165168423003110) <br /> Yuanshuai Li, Shaoqiang Chang, Zihao Liu, **Wei Ren**, Quanhua Liu <br /> ***Signal Processing***, 2024.
- [Slow-Time MIMO Waveform Design Using Pulse-Agile-Phase-Coding for Range Ambiguity Mitigation](https://www.mdpi.com/2072-4292/15/13/3395) <br /> Shaoqiang Chang, Fawei Yang, Zhennan Liang, **Wei Ren**, Hao Zhang, Quanhua Liu <br /> ***Remote Sensing***, 2023
- [ECCM Scheme For Countering Main-lobe Interrupted Sampling Repeater Jamming via Signal Reconstruction and Mismatched Filtering](https://ieeexplore.ieee.org/document/10120717) <br /> Dezhi Tian, Changjie Wang, **Wei Ren**, Zhennan Liang, Quanhua Liu <br /> ***IEEE Sensors Journal***, 2023
- [An Adaptive Scheme for Chopping and Interleaving Jamming Suppression Based on the Mismatched Filter](https://ieeexplore.ieee.org/document/9624638) <br /> Dezhi Tian, **Wei Ren**, Lu Zhang, Zhennan Liang, Quanhua Liu <br /> ***2021 International Conference on Control, Automation and Information Sciences (ICCAIS)***, 2021

### Radar Signal Processing ###
- [Detection of Range-Spread Targets Based on Order Statistics](https://www.sciencedirect.com/science/article/abs/pii/S1051200422004201) <br /> Xinliang Chen, Kaiyue Hou, Shaoqiang Chang, Quanhua Liu, **Wei Ren** <br /> ***Digital Signal Processing***, 2023


